@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #2b3a4f;
  min-height: 100svh;
}

html, body {
  height: 100svh;
  width: 100vw;
  background: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 0.95;
  font-family: var(--font-dancing-script), "Brush Script MT", "Comic Sans MS", cursive;
  user-select: none;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.animate-fadeIn {
  filter: brightness(0%);
  animation: backgroundFadeIn 3s ease forwards;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  /* border-radius: 20px; */
  /* padding: 2rem; */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@keyframes backgroundFadeIn {
  0% {
    filter: brightness(0%) contrast(300%);
  }
  100% {
    filter: brightness(100%) contrast(100%);
  }
}

/* body.loaded {
  background-image: url("https://raw.githubusercontent.com/the-platapus/mee/refs/heads/main/public/assets/images/plsloadgoddamnit.png");
} */

div {
  text-align: center;
}

i.icon.fa-solid.fa-circle-arrow-right.colo {
  font-size: 30px;
  margin-top: 2vb;
  padding: 7px;
  border-radius: 50%;
  color: #ec933f;
  text-align: center;
}
i.icon.fa-brands.fa-github {
  font-size: 30px;
  margin-top: 2vb;
  padding: 7px;
  border-radius: 50%;
  color: #ec933f;
  text-align: center;
}
i.icon.fa-solid.fa-envelope {
  font-size: 30px;
  margin-top: 2vb;
  padding: 7px;
  border-radius: 50%;
  color: #ec933f;
  text-align: center;
}

html {
  line-height: 0.7;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@keyframes funnyFadeIn {
  0% {
    backdrop-filter: contrast(170%) brightness(0%);
    filter: brightness(0%) blur(17px);
  }
  100% {
    backdrop-filter: contrast(100%) brightness(100%);
    filter: brightness(100%) blur(0px);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoomOut {
  animation: zoomOut 1s ease forwards;
}

@media only screen and (min-width: 550px)
  {
    
  }
  
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

}

#oneko {
  position: fixed !important;
  z-index: 10000 !important;
  pointer-events: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
