html, body {
  height: 100%;
  background: url("/the-platapus/mee/assets/images/plsloadgoddamnitsmol.webp") center/cover no-repeat;
  background-color:#2b3a4f;
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  margin: 0;
  padding: 0;
  line-height: 0.95;
  font-family: var(--font-dancing-script), "Brush Script MT", "Comic Sans MS", cursive;
  user-select: none;
  transition: background-image 0.6s ease-in-out;
  /* animation: funnyFadeIn 3s ease-in forwards; */
}

body.loaded {
  background-image: url("/the-platapus/mee/assets/images/plsloadgoddamnit.jpg");
}

div {
  text-align: center;
}

i.icon.fa-solid.fa-circle-arrow-right.colo {
  font-size: 30px;
  margin-top: 2vb;
  padding: 7px;
  border-radius: 50%;
  color: #ec933f;
  text-align: center;
}
i.icon.fa-brands.fa-github {
  font-size: 30px;
  margin-top: 2vb;
  padding: 7px;
  border-radius: 50%;
  color: #ec933f;
  text-align: center;
}
i.icon.fa-solid.fa-envelope {
  font-size: 30px;
  margin-top: 2vb;
  padding: 7px;
  border-radius: 50%;
  color: #ec933f;
  text-align: center;
}

html {
  line-height: 0.7;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@keyframes funnyFadeIn {
  0% {
    backdrop-filter: contrast(170%) brightness(0%);
    filter: brightness(0%) blur(17px);
  }
  100% {
    backdrop-filter: contrast(100%) brightness(100%);
    filter: brightness(100%) blur(0px);
  }
}

@media only screen and (min-width: 550px)
  {
    
  }
  
.header-icons {
     display: flex;
     justify-content: center;
     gap: 5px;
     animation: fadeDown 2.0s ease forwards;
     opacity: 0;
}
h1 {
    margin: 0;
    color: #ec933f;
    padding-top: 55vb;
    font-family: var(--font-dancing-script);
    font-optical-sizing: auto;
    font-size: 10vb;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    /*animation: lights 5s 750ms linear infinite;*/
    animation: fadeDown 2.7s ease forwards;
}
h2 {
    color: #ec933f;
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2vb;
    text-align: center;
    /*animation: lights 5s 750ms linear infinite;*/
}
h3 {
    font-family: var(--font-montserrat);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: end;
    /*animation: lights 5s 750ms linear infinite;*/
}
.skillsets {
    padding-bottom: '17%';
}
    .tagline {
      margin: 1rem 0;
      min-height: 2rem; /* keeps space stable */
      letter-spacing: 1px;
      color: #ec933f;
      font-family: var(--font-montserrat);
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 2.7vb;
      text-align: center;
      animation: fadeUp 3.4s ease forwards;
      padding-left: 3vb;
      padding-right: 3vb;
    }

    .cursor {
      display: inline-block;
      width: 2vb;
      height: 2.8vb;
      background: #ec933f;
      margin-left: 2px;
      animation: blink 2s ease infinite;
    }

    @keyframes blink {
      0% { opacity: 0 }
      50% { opacity: 1 }
      100% { opacity: 0 }
    }
    @keyframes fadeDown {
      from { opacity: 0; transform: translateY(-50px); }
      to { opacity: 1; transform: translateY(0); }
    }
    @keyframes fadeUp {
      from { opacity: 0; transform: translateY(50px); }
      to { opacity: 1; transform: translateY(0); }
    }
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}
