html {
    overflow-wrap: break-word;
}

body {
    margin: 0;
    text-align: left;
    width: 100%;
    background-color: transparent;
}

h1 {}

h2 {
    padding: 3%;
    font-size: 29px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 47px;
    vertical-align: middle;
    margin: 0;
    color: #ec933f;
}

h3 {
    padding: 3%;
    font-size: 15px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    margin: 0;
    color: #ec933f;
}

.main-caption {
    background-color: transparent;
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-caption h2 {
    padding: 0 2rem;
    font-size: 17px;
}

.sub-caption {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.609);
    align-items: center;
    justify-content: center;
    padding: 1rem 13%;
}

.quotes,
.aim {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.about {
    background-color: transparent;
    padding: 1rem 13%;
}

.paragraph {}

@media (max-width: 900px) {
    .sub-caption {
        flex-direction: column;
    }
}